<div class="box">
  <div class="container">
    <div class="row">
    <div class="page-title__wrap">
      <div class="page-title__wrap__text">
      <h1>Log in</h1>
      </div>
    </div>
    <div class="form-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="input-group profile-contents">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-1x fa-fw my-black" aria-hidden="true"></i><%= f.label :email ,"e-mail" %> </span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control', placeholder: "メールアドレスを入力"%>
        </div>

        <div class="input-group profile-contents">
          <span class="input-group-addon"><i class="fa fa-key fa-1x fa-fw my-black" aria-hidden="true"></i><%= f.label :password , "password"%></span>
          <%= f.password_field :password, autocomplete: "current-password",class: 'form-control', placeholder: "パスワードを入力" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field  profile-contents">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me , "パスワードを記憶" %>
          </div>
        <% end %>

        <div class="actions profile-contents">
          <%= f.submit "Log in", class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      <% end %>
      <div class="profile-contents">
        <%= render "devise/shared/links"%>
      </div>
    </div>

    </div>
  </div>
  </div>
</div>
<div class="contents row">
