<div class="contents row">
  <% @items.each do |item| %>
    <p>案件：<%= item.title %></p>
    <p>単価：<%= item.price_s %>〜<%= item.price_e %>万円/月</p>
    <p><%  item.skills.each do |skill| %>
       <%= skill.language.name %>
       <% end %>
    </p>
    <p>業界：<%= item.industry.name %> / 職種：<%= item.jobtype.name %></p>
    <p>勤務地：<%= item.place.name %></p>
  <% end %>
</div>