<div class="contents row">
  <% @items.each do |item| %>
      <p>案件：<%= item.title %></p>
      <p>単価：<%= item.price_s %>〜<%= item.price_e %>万円/月</p>
      <p><%  item.skills.each do |skill| %>
        <%= skill.language.name %>
        <% end %>
      </p>
      <span class="name">
        <a href="/users/<%= item.user_id %>">
          投稿ユーザ:<%= item.user.name %>
        </a>
      </span>
      <p>業界：<%= item.industry.name %> / 職種：<%= item.jobtype.name %></p>
      <p>勤務地：<%= item.place.name %></p>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/items/#{item.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/items/#{item.id}", method: :delete %>
        </li>
      </ul>
  <% end %>
  <%= paginate(@items) %>
</div>
