<div class="contents row">
  <%= form_for @items do |f| %>
    <h3>実績案件を登録する</h3>

    <%= f.label :item_id, "案件名" %>
    <%= f.text_field :title, placeholder: "【スキル名】業務内容" %>
    
    <%= f.text_field :price_s, placeholder: "単価最小" %>
    <%= f.text_field :price_e, placeholder: "単価最大" %>
  
    <%= f.label :place_id ,"勤務地"%>
    <%= f.collection_select :place_id, Place.all, :id, :name %>
  
    <%= f.label :industry_id ,"業種"%>
    <%= f.collection_select :industry_id, Industry.all, :id, :name %>
  
    <%= f.label :jobtype_id ,"職種"%>
    <%= f.collection_select :jobtype_id, Jobtype.all, :id, :name %>
  
    <%= f.label :item_id, "案件概要" %>
    <%= f.text_area :contents, size: "20x10",placeholder: "案件概要"%>
    <%= f.submit %>
  <% end %>
</div>