<!DOCTYPE html>
<html>
  <head>
    <title>FreeLance Book</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              Freelance Book
            </a>
          </div>
          
          <div class="collapse navbar-collapse" id="navbarEexample7">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li>
                  <%= link_to "New Work", '/items/new', method: :get, class: 'nav-item nav-link' %>
                </li>
                <li>
                  <%= link_to "Sing out", destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Sing In", new_user_session_path, class: 'nav-item nav-link' %>
                </li>
                <li>
                  <%= link_to "Sing Up", new_user_registration_path, class: 'nav-item nav-link'  %>
                </li>
              <% end %>
            </ul>
            <% if user_signed_in? %>
              <p class="navbar-text navbar-right">
                <%= image_tag current_user.avatar, class: 'profile-header__img-rounded__navbar navbar-link' %>
                <%= link_to current_user.name, "/users/#{current_user.id}", method: :get, class: 'nav-item nav-link' %>
                さん
              </p>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <%= breadcrumbs separator: " &gt; " %>
      <%= yield %>
      <footer><p>Copyright FreeLance Book 2019.</p></footer>
  </body>
</html>
