<!DOCTYPE html>
<html>
  <head>
    <title>FreeLance Book</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/">Freelance Book</a>
          <% if user_signed_in? %>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <span>ログインユーザ:<%= current_user.name %></span>
            <div class="navbar-nav">
              <%= link_to 'My page', "/users/#{current_user.id}", method: :get, class: 'nav-item nav-link' %>
              <%= link_to "New Work", '/items/new', method: :get, class: 'nav-item nav-link' %>
              <%= link_to "Sing out", destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
              <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
          </div>
          <% else %>
            <div class="grid-6">
            <%= link_to "Sing in", new_user_session_path, class: 'nav-item nav-link' %>
            <%= link_to "Sing ", new_user_registration_path, class: 'nav-item nav-link'  %>
            </div>
          <% end %>
        </nav>
      </header>    
        <%= yield %>
      <footer>
        <p>
          Copyright FreeLance Book 2019.
        </p>
      </footer>
  </body>
</html>
